---
# .clang-tidy configuration file

Checks: 'modernize-*,\
         -modernize-use-trailing-return-type,\
         cppcoreguidelines-*,\
         readability-*,\
         portability-*,\
         performance-*,\
         clang-analyzer-*,\
         clang-diagnostic-*,\
         bugprone-*,\
         cert-*,\
         hicpp-*,\
         -hicpp-signed-bitwise,\
         misc-*,\
         misc-non-private-member-variables-in-classes'

# Optional: header files to analyze or ignore
HeaderFilterRegex: '.*' # Analyze all headers included from the main source file
# HeaderFilterRegex: '(your_project_dir|another_dir)/.*' # Only analyze headers in specific directories

# WarningsAsErrors: 'modernize-use-nullptr,readability-identifier-naming'
---