---
BasedOnStyle: Google
AccessModifierOffset: '-4'
BreakBeforeBraces: Allman
BreakBeforeTernaryOperators: 'false'
IndentWidth: '4'
NamespaceIndentation: All
TabWidth: '4'
UseTab: ForIndentation
ColumnLimit: '80'
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
---
